<!-- <app-nav></app-nav> -->
<!-- <main>
  <div>

    <form role="search">

      <div class="select">
 
        <h2 id="search-by">Search by:</h2>

        <select name="search-type" aria-labelledby="search-by"  (change)="onOptionsSelected($event)" required>
          <option value="tag.gettoptracks">Mood by Track</option>
          <option value="tag.gettopartists">Mood by Artist</option>
          <option value="artist.gettoptracks">Artist</option>
          <option value="track.search">Track</option>
        </select>

      </div>

      <label
        >Search terms:
        <input type="text" required />
      </label>

    </form>

    <button type="submit" class="search-btn" (click)="fetchDataService()" routerLink="/results">Search</button>

  </div>
</main> -->
<div>
  <form role="search">
    <div class="select">
      <label for="search-type" id="search-by">Search By:</label>
      <select name="search-type" aria-labelledby="search-by"  (change)="onOptionsSelected($event)" required>
        <option value="">------</option>
        <option value="tag.gettoptracks">Tracks by Mood</option>
        <option value="tag.gettopartists">Artists by Mood</option>
        <option value="artist.gettoptracks">Artist</option>
        <option value="track.search">Track</option>
      </select>
    </div>

    <label
      >Search Terms:
      <input type="text" name="searchTerm" [(ngModel)]="searchTerm" required />
    </label>
    <button (click)="fetchDataService()" routerLink="/results">Search</button>
  </form>
</div>
