/* Mobile View */
h1 {
    font-size: medium;
}

form {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    /* padding: 2rem; */
    /* box-sizing: border-box; */
}

label {
    padding-right: 5px;
    font-size: 15px;
}

select{
    /* display: inline; */
    width: 65%;
}

input {
    width: 100px;
    margin: 0;
}

button{
    width: 100%;
    height: 25px;
    margin: 1rem;
    font-weight: bold;
    background-color: rgb(113, 237, 113);
    border: solid 2px #000;
    font-size: 15px;
    border-radius: 5px;
}

/* Tablet View */
<<<<<<< HEAD
@media screen and (min-width: 480px)  {
=======
@media screen and (min-width: 480px) {
>>>>>>> d7245b6062771b8b2a6df2e6e2445fbf7a6de63f
    .full-width-img {
    margin: auto;
    width: 90%;
    }

    button{
        width: 80px;
        margin: 1rem;
    }

    select{
        width: auto;
    }
    
    input {
        width: 200px;
        margin: 0;
    }

    div{
        display: inline-flex;
        margin: 2rem;
       
    }
}

/* Desktop View */
@media screen and (min-width: 768px) {
    .full-width-img {
    margin: auto;
    width: 90%;
    }

    button{
        width: 100px;
        /* height: 30px;
        font-size: 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px; */
}

    select{
        width: auto;
    }
    
    input {
        width: 300px;
        margin: 0;
    }

    div{
        display: inline-flex;
        margin: 2rem;
       
    }
}