<!-- <main>
  <div>
    <form role="search">
      <div class="select">
 
        <h2 id="search-by">Search by:</h2>
        <select name="search-type" aria-labelledby="search-by"  (change)="onOptionsSelected($event)" required>
          <option value="tag.gettoptracks">Mood by Track</option>
          <option value="tag.gettopartists">Mood by Artist</option>
          <option value="artist.gettoptracks">Artist</option>
          <option value="track.search">Track</option>
        </select>
      </div>
      <label
        >Search terms:
        <input type="text" required />
      </label>
    </form>
    <button type="submit" class="search-btn" (click)="fetchDataService()" routerLink="/results">Search</button>
  </div>
</main> -->
<main>
  <h1>MoodTunes: Listen To Your Mood</h1>
  <div>
    <form role="search">
      <label for="search-by">Search</label>
      <select
        id="search-by"
        matNativeControl
        [(ngModel)]="selectedSearch"
        name="search"
        required
        aria-required="true"
      >
        <option value="" selected></option>
        <option *ngFor="let search of searches" [value]="search.value">
          {{ search.viewValue }}
        </option>
      </select>

      <label>
        Search for:
        <input
          type="text"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          required
          aria-required="true"
        />
      </label>
      <button (click)="fetchDataService()" routerLink="/results" type="submit">Search</button>
    </form>
  </div>

  <app-landing></app-landing>
</main>
