<!-- <app-nav></app-nav> -->
<!-- <main>
  <div>
    <form role="search">
      <div class="select">
 
        <h2 id="search-by">Search by:</h2>
        <select name="search-type" aria-labelledby="search-by"  (change)="onOptionsSelected($event)" required>
          <option value="tag.gettoptracks">Mood by Track</option>
          <option value="tag.gettopartists">Mood by Artist</option>
          <option value="artist.gettoptracks">Artist</option>
          <option value="track.search">Track</option>
        </select>
      </div>
      <label
        >Search terms:
        <input type="text" required />
      </label>
    </form>
    <button type="submit" class="search-btn" (click)="fetchDataService()" routerLink="/results">Search</button>
  </div>
</main> -->
<main>
  <div>
    <form role="search">
      <!-- <h1 id="search-by">Search by:</h1> -->
        <!-- <select aria-labelledby="search-by" matNativeControl [(ngModel)]="selectedSearch" name="search">
          <option value="" selected></option>
          <option *ngFor="let search of searches" [value]="search.value">
            {{ search.viewValue }}
          </option>
        </select> -->
        <mat-form-field>
          <mat-select placeholder="Select a Search">
            <mat-option *ngFor="let search of searches" [value]="search.value">
            {{ search.viewValue }}
          </mat-option>
          </mat-select>
        </mat-form-field>
      
  
      <label
        >Search Terms:
        <input type="text" name="searchTerm" [(ngModel)]="searchTerm" required />
      </label>
      <button (click)="fetchDataService()" routerLink="/results">Search</button>
    </form>
  </div>
  <p>Selected search: {{ selectedSearch }}</p>
</main>