<section role="group" aria-label="search results">
    <mat-card   class="result-card" *ngFor="let music of musicService.music.track; let i= index;">
        <mat-card-header>
            <h2 mat-card-title>{{ music.name }}</h2>
            <mat-card-subtitle> {{music.artist.name}} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="">
        <mat-card-content></mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button (click)="openDialog()" attr.aria-label="Details for {{ music.name }} by {{music.artist.name}}  ">Details </button>
            <button mat-fab attr.aria-label="Add {{ music.name }} by {{music.artist.name}} to playlist">
                <mat-icon>favorite</mat-icon>
              </button>
        </mat-card-actions>
    </mat-card>
</section>

