section{
    display: flex;
    flex-flow: wrap;
   flex-direction: row;
   margin: 10px;
   justify-content: space-evenly;
    
}

.result-card{
    width: 200px;
    margin: 5px;
    justify-content: center;
}

button:focus{
    outline: 1px solid black;
    
}

