<!-- <p>the selected value is:{{ selectedSearch }} </p> -->

<section *ngIf="moodTrack" aria-label="search results">
  <!-- mood by track and artist search complete-->

  <mat-card
    class="result-card"
    style="text-align: center"
    *ngFor="let music of musicService.music.track; let i = index"
  >
    <mat-card-header>
      <h2 mat-card-title>{{ music.name }}</h2>
      <mat-card-subtitle> {{ music.artist.name }} </mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="" alt="" />
    <mat-card-content></mat-card-content> -->
    <mat-card-actions>
      <!-- TO DO: this should be a link to the last FM site -->
      <a
        class="mat-stroked-button"
        href="{{ music.artist.url }}"
        attr.aria-label="Details for {{ music.name }} by {{
          music.artist.name
        }}"
        target="_blank"
        >Details
      </a>
      <button
        mat-fab
        attr.aria-label="Add {{ music.name }} by {{
          music.artist.name
        }} to playlist"
        (click)="addPlaylist(music)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>

<!-- start of showTrack -->
<section aria-label="search results" *ngIf="showTrack">
  <mat-card
    class="result-card"
    *ngFor="let music of musicService.music.trackmatches.track; let i = index"
  >
    <mat-card-header>
      <h2 mat-card-title>{{ music.name }}</h2>
      <mat-card-subtitle> {{ music.artist }} </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <!-- TO DO: this should be a link to the last FM site -->
      <a
        class="mat-stroked-button"
        href="{{ music.url }}"
        attr.aria-label="Details for {{ music.name }} by {{ music.artist }}  "
        target="_blank"
        >Details
      </a>
      <button
        mat-fab
        attr.aria-label="Add {{ music.name }} by {{ music.artist }} to playlist"
        (click)="addPlaylist(music)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
<!-- start of artist by mood -->
<section aria-label="search results" *ngIf="moodArtist">
  <mat-card
    class="result-card"
    *ngFor="let music of musicService.music.artist; let i = index"
  >
    <mat-card-header>
      <h2 mat-card-title>{{ music.name }}</h2>
      <!-- <mat-card-subtitle> {{music.artist}} </mat-card-subtitle> -->
      <!-- <mat-card-subtitle> {{music.artist.name}} </mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="" alt="" />
    <mat-card-content></mat-card-content> -->
    <mat-card-actions>
      <!-- TO DO: this should be a link to the last FM site -->
      <a
        class="mat-stroked-button"
        href="{{ music.url }}"
        attr.aria-label="Details for {{ music.name }}"
        target="_blank"
        >Details
      </a>
      <button
        mat-fab
        attr.aria-label="Add {{ music.name }} to playlist"
        (click)="addPlaylist(music)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>

