<main>
	<h1>Become a moodTuner Today!</h1>
	<div class="form-box">
		<div class="form-top">
			<form action="#" method="post">
				<input class="text" type="text" name="Username" placeholder="Username" required="">
				<input class="text email" type="email" name="email" placeholder="Email" required="">
				<input class="text" type="password" name="password" placeholder="Password" required="">
				<input class="text-pw" type="password" name="password" placeholder="Confirm Password" required="">
				<div class="terms">
					<label class="active-checkbox">
						<input type="checkbox" class="checkbox" required="">
						<span>I Agree To The Terms & Conditions</span>
					</label>
					<div class="clear"> </div>
				</div>
				<input id="signup" type="submit" value="SIGN UP">
			</form>
			<p>Already a moodTuner? <a id="login" href="#"> Login Now!</a></p>
		</div>
	</div>
</main>
