header {
    background-color: rgb(191, 111, 218);
    border-bottom: solid 5px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 5px 0 10px 15px; */
    margin: 0;
    align-items: center;
}

@media screen and (min-width: 768px) {

    /* #logoRecord {
        width: 150px;
        height: 150px;
    } */

    #logoWords {
        /* width: 400px;
        height: 250px; */
        cursor: pointer;
    }

    #nav {
        list-style: none;
        text-align: right;
        margin-right: 15px;
        color: white;
        font-size: 13pt;
    }

    .nav-link {
        padding-bottom: 5px;
        /* font-weight: 30; */
        text-decoration: none;
        cursor: pointer;

    }
}

