<main>
	<h1>My moodTuner Profile</h1>
	<div class="form-box">
		<div class="form-top">
			<form action="#" method="post">
				<input class="text" type="text" name="name" placeholder="Name" required="">
				<input class="text display" type="text" name="displayName" placeholder="Display Name" required="">
				<input class="text" type="text" name="artists" placeholder="Artists I Like" required="">
				<input class="text moods" type="text" name="moods" placeholder="My Top 3 Moods" required="">
				<input id="save" type="submit" value="SAVE INFO">
			</form>
		</div>
	</div>
</main>
